.spinner {
  display: inline-block;
  margin: 0 8px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 0.215em solid transparent;
  vertical-align: middle;
  font-size: 16px;
  border-top-color: white;
  -webkit-animation: spin 1s cubic-bezier(0.55, 0.15, 0.45, 0.85) infinite;
          animation: spin 1s cubic-bezier(0.55, 0.15, 0.45, 0.85) infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-wrapper {
  display: flex;
  justify-content: center;
  padding: 60px 0px;
  align-items: center;
}
.loader-wrapper .table-loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(#3a86ff, transparent, transparent, transparent, transparent);
  position: relative;
  display: grid;
  place-items: center;
  -webkit-animation: loader 0.7s linear infinite;
          animation: loader 0.7s linear infinite;
}
.loader-wrapper .table-loader::before, .loader-wrapper .table-loader::after {
  content: "";
  position: absolute;
}
.loader-wrapper .table-loader::before {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}
.loader-wrapper .table-loader::after {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #3a86ff;
  border-radius: 50%;
}

@-webkit-keyframes loader {
  0% {
    transform: rotate(0);
    background: conic-gradient(#346bc3, transparent, transparent, transparent, transparent);
  }
  25% {
    background: conic-gradient(#c8a238, transparent, transparent, transparent);
  }
  50% {
    background: conic-gradient(#b7375b, transparent, transparent);
  }
  100% {
    transform: rotate(-360deg);
    background: conic-gradient(#6737b4, transparent, transparent);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0);
    background: conic-gradient(#346bc3, transparent, transparent, transparent, transparent);
  }
  25% {
    background: conic-gradient(#c8a238, transparent, transparent, transparent);
  }
  50% {
    background: conic-gradient(#b7375b, transparent, transparent);
  }
  100% {
    transform: rotate(-360deg);
    background: conic-gradient(#6737b4, transparent, transparent);
  }
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZJhiI2B.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZthiI2B.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZNhiI2B.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZxhiI2B.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZBhiI2B.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZFhiI2B.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZ9hiA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZJhiI2B.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZthiI2B.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZNhiI2B.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZxhiI2B.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZBhiI2B.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhiI2B.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZJhiI2B.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZthiI2B.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZNhiI2B.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZxhiI2B.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZBhiI2B.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZFhiI2B.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZ9hiA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4taVIGxA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4kaVIGxA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4saVIGxA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4jaVIGxA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4iaVIGxA.woff2) format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4vaVIGxA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4uaVIGxA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Inter";
  font-weight: 400;
  background: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-family: "Open Sans";
  font-weight: 700;
}

p {
  margin: 0px;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

:root {
  --bodyBg: #f2f7fb;
  --black: #000;
  --white: #fff;
  --sidebariconColor: #fff;
  --sidebarhover:#2e3cb3;
  --themecolor:rgb(57, 106, 159);
  --primaryButton: #1890ff;
  --dangerButton: #ff4949;
  --warningButton: #ffba00;
  --successButton: #13ce66;
  --titleColor: #606266;
}

.row-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.greenGradient {
  background-image: linear-gradient(195deg, #66bb6a, #43a047);
}

.blueGradient {
  background-image: linear-gradient(195deg, #49a3f1, #1a73e8);
}

.pinkGradient {
  background: linear-gradient(195deg, #ec407a, #d81b60);
}

.blackGradient {
  background: linear-gradient(195deg, #42424a, #191919);
}

.w-65 {
  width: 65%;
}

.status-active {
  color: var(--successButton);
}

.status-not-active {
  color: var(--dangerButton);
}

.btn {
  height: 30px;
  font-size: 14px;
  color: var(--white);
  background: none;
  border: 0px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
}

.btn-edit {
  background: var(--primaryButton);
}

.btn-delete {
  background: var(--dangerButton);
}

.btn-success {
  background: var(--successButton);
  font-size: 18px;
  color: var(--white);
  padding: 6px 20px;
  border-radius: 20px;
  border: 0px;
}

.btn-warning {
  background: var(--warningButton);
  font-size: 18px;
  color: var(--white);
  padding: 6px 20px;
  border-radius: 20px;
  border: 0px;
}

.btn-danger {
  background: var(--dangerButton);
  font-size: 18px;
  color: var(--white);
  padding: 6px 20px;
  border-radius: 20px;
  border: 0px;
}

.auth-wrapper {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.auth-wrapper .flex-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
}
.auth-wrapper .flex-row .auth-image {
  width: 50%;
}
.auth-wrapper .flex-row .auth-image img {
  width: 100%;
}
.auth-wrapper .flex-row .auth-form {
  width: 50%;
  display: flex;
  justify-content: center;
}
.auth-wrapper .flex-row .auth-form form {
  width: 450px;
  background: var(--white);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  border-radius: 30px;
}
.auth-wrapper .flex-row .auth-form form .auth-row {
  margin-bottom: 20px;
}
.auth-wrapper .flex-row .auth-form form .auth-row label {
  display: block;
  font-size: 16px;
  color: #111;
  margin-bottom: 10px;
}
.auth-wrapper .flex-row .auth-form form .auth-row .form-control {
  width: 100%;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 0px;
  text-indent: 10px;
  outline: none;
}
.auth-wrapper .flex-row .auth-form form .auth-row .form-control::-moz-placeholder {
  font-size: 14px;
  color: #777;
}
.auth-wrapper .flex-row .auth-form form .auth-row .form-control::placeholder {
  font-size: 14px;
  color: #777;
}
.auth-wrapper .flex-row .auth-form form .auth-btn {
  width: 100%;
  background: #7367f0;
  font-size: 18px;
  border-radius: 5px;
  border: 0px;
  padding: 0px;
  height: 50px;
  color: var(--white);
}
.auth-wrapper .flex-row .auth-form form .auth-btn .btn-span {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper.form {
  display: flex;
  row-gap: 15px;
  flex-flow: row wrap;
}
.form-wrapper.form .form-group {
  display: flex;
  align-item: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  width: 80%;
}
.form-wrapper.form .form-group .form-label {
  width: 175px;
  display: flex;
  align-items: center;
  height: 40px;
}
.form-wrapper.form .form-group .form-label label {
  font-size: 16px;
  font-weight: 500;
}
.form-wrapper.form .form-group .form-input {
  width: calc(100% - 165px);
}
.form-wrapper.form .form-group .form-input input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  text-indent: 7px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  padding: 0px;
}
.form-wrapper.form .form-group .form-input input::-moz-placeholder {
  font-size: 14px;
  color: #ccc;
}
.form-wrapper.form .form-group .form-input input::placeholder {
  font-size: 14px;
  color: #ccc;
}
.form-wrapper.form .form-group .form-input input.invalid {
  border: 1px solid red;
}
.form-wrapper.form .form-group .form-input.form-action button {
  border-radius: 4px;
  width: 100%;
  height: 45px;
}
.form-wrapper .form-flex {
  display: flex;
  flex-flow: row wrap;
  row-gap: 15px;
}
.form-wrapper .form-flex .form-group {
  width: 100%;
}
.form-wrapper .form-flex .form-group .form-label {
  margin-bottom: 10px;
}
.form-wrapper .form-flex .form-group .form-label label {
  font-size: 14px;
  color: var(--black);
}
.form-wrapper .form-flex .form-group .form-input .form-input-control {
  height: 38px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-wrapper .form-flex .form-group .form-input input {
  width: 100%;
  text-indent: 7px;
  outline: none;
}
.form-wrapper .form-flex .form-group .form-input input.invalid {
  border: 1px solid red;
}

.check-box-wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.check-box-wrapper .check-label label {
  font-size: 14px;
  font-weight: 400;
}

/** form permission list **/
.permission-list-wrapper {
  display: flex;
  row-gap: 15px;
  justify-content: space-between;
  -moz-column-gap: 15px;
       column-gap: 15px;
  flex-flow: row wrap;
}
.permission-list-wrapper .permission-item-wrapper {
  width: calc(50% - 15px);
  overflow: hidden;
}
.permission-list-wrapper .permission-item-wrapper .permission-module-title {
  background: var(--themecolor);
  text-align: center;
}
.permission-list-wrapper .permission-item-wrapper .permission-module-title h3 {
  font-size: 16px;
  color: var(--white);
  padding: 7px 0px;
}
.permission-list-wrapper .permission-item-wrapper .permission-item-body {
  background: var(--bodyBg);
  padding: 15px 10px;
  height: 100%;
}
.permission-list-wrapper .permission-item-wrapper .permission-item-body .permission-module-check-lists {
  line-height: 30px;
}
.permission-list-wrapper .permission-item-wrapper .permission-item-body .permission-module-check-lists .check-list-name {
  font-size: 14px;
  font-weight: 400;
}

/**end of form permission list **/
/** custom select option **/
.validation-error-wrapper span {
  font-size: 14px;
  color: red;
  text-transform: capitalize;
  margin-top: 4px;
  display: block;
}

.selection-wrapper {
  position: relative;
}
.selection-wrapper .selected-items-wrapper .selected-items {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  text-indent: 7px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  padding: 0px;
}
.selection-wrapper .selected-items-wrapper .selected-items .select-placeholder {
  display: flex;
  align-items: center;
  height: 100%;
}
.selection-wrapper .selected-items-wrapper .selected-items .select-placeholder span {
  color: #ddd;
}
.selection-wrapper .selected-items-wrapper .selected-items .select-placeholder .selected-values {
  display: flex;
  row-gap: 5px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  padding: 0px 7px;
  width: 100%;
  flex-flow: row wrap;
}
.selection-wrapper .selected-items-wrapper .selected-items .select-placeholder .selected-values .select-value {
  background: var(--themecolor);
  padding: 3px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.selection-wrapper .selected-items-wrapper .selected-items .select-placeholder .selected-values .select-value span {
  font-size: 12px;
  color: var(--white);
  display: flex;
}
.selection-wrapper .selected-items-wrapper .selected-items .select-placeholder .selected-values .select-value .remove-select {
  font-size: 14px;
  color: var(--white);
  cursor: pointer;
}
.selection-wrapper .selected-options {
  background: #fff;
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.4);
  display: none;
}
.selection-wrapper .selected-options.active {
  display: block;
}
.selection-wrapper .selected-options .select-option-search {
  padding: 5px 8px;
}
.selection-wrapper .selected-options .select-option-search input {
  height: 30px;
  outline: none;
}
.selection-wrapper .selected-options .option-wrapper {
  max-height: 190px;
  overflow-y: auto;
}
.selection-wrapper .selected-options .option-wrapper .option-item {
  font-size: 14px;
}
.selection-wrapper .selected-options .option-wrapper .option-item input {
  display: none;
}
.selection-wrapper .selected-options .option-wrapper .option-item input:checked + label {
  background: #ddd !important;
}
.selection-wrapper .selected-options .option-wrapper .option-item label {
  display: block;
  line-height: 40px;
  padding: 0px 20px;
}
.selection-wrapper .selected-options .option-wrapper .option-item label:hover {
  background: #ddd;
}

/** chat box **/
.chat-room-wrapper {
  position: relative;
  display: flex;
  height: 80vh;
}
.chat-room-wrapper .chat-row-message-wrapper {
  width: calc(100% - 299px);
  position: relative;
}
.chat-room-wrapper .chat-row-message-wrapper .not-chat-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.chat-room-wrapper .chat-row-message-wrapper .not-chat-selected h2 {
  font-size: 24px;
  color: #ddd;
}
.chat-room-wrapper .chat-row-message-wrapper .chat-person {
  background: var(--themecolor);
  padding: 5px 10px;
  border-top-left-radius: 15px;
}
.chat-room-wrapper .chat-row-message-wrapper .chat-person h2 {
  font-size: 18px;
  color: var(--white);
}
.chat-room-wrapper .chat-row-message-wrapper .chat-person-form {
  position: absolute;
  bottom: 15px;
  width: 100%;
}
.chat-room-wrapper .chat-row-message-wrapper .chat-person-form .chat-person-form-wrapper {
  position: relative;
  padding: 8px 10px;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 30px;
  margin: 0px 20px;
  align-items: center;
}
.chat-room-wrapper .chat-row-message-wrapper .chat-person-form .chat-person-form-wrapper.invalid {
  border-color: red;
}
.chat-room-wrapper .chat-row-message-wrapper .chat-person-form .chat-person-form-wrapper .message-box {
  width: 100%;
  border-radius: 30px;
  border: 0;
  padding: 0px;
  outline: none;
  resize: none;
  font-size: 14px;
  text-indent: 10px;
  background: none;
  font-size: 14px;
}
.chat-room-wrapper .chat-row-message-wrapper .chat-person-form .chat-person-form-wrapper .message-box:placeholder {
  font-size: 14px;
}
.chat-room-wrapper .chat-row-message-wrapper .chat-person-form .chat-person-form-wrapper .message-action-btn {
  height: 100%;
  background: none;
  border: 0;
  font-size: 18px;
  color: var(--primaryButton);
  z-index: 11;
}
.chat-room-wrapper .chat-row-list-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #ddd;
  width: 300px;
  height: 100%;
  background: var(--white);
  border-top-right-radius: 15px;
}
.chat-room-wrapper .chat-row-list-wrapper .chat-list-items .chat-heading {
  padding: 10px;
}
.chat-room-wrapper .chat-row-list-wrapper .chat-list-items .chat-heading h2 {
  font-size: 18px;
  color: #a09d9d;
  font-weight: 400;
}
.chat-room-wrapper .chat-row-list-wrapper .chat-list-items .chat-user-list .chat-user-item {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  cursor: pointer;
  align-items: center;
  padding: 8px 10px;
}
.chat-room-wrapper .chat-row-list-wrapper .chat-list-items .chat-user-list .chat-user-item:hover {
  background: #f5f5f5;
}
.chat-room-wrapper .chat-row-list-wrapper .chat-list-items .chat-user-list .chat-user-item:last-child {
  margin-bottom: 0px;
}
.chat-room-wrapper .chat-row-list-wrapper .chat-list-items .chat-user-list .chat-user-item .chat-user-image {
  position: relative;
}
.chat-room-wrapper .chat-row-list-wrapper .chat-list-items .chat-user-list .chat-user-item .chat-user-image span {
  background: #3498db;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  color: var(--white);
}
.chat-room-wrapper .chat-row-list-wrapper .chat-list-items .chat-user-list .chat-user-item .chat-user-image .chat-online-status {
  position: absolute;
  bottom: 1px;
  right: 2px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #ccc;
}
.chat-room-wrapper .chat-row-list-wrapper .chat-list-items .chat-user-list .chat-user-item .chat-user-image .chat-online-status.green {
  background: #00A400;
}
.chat-room-wrapper .chat-row-list-wrapper .chat-list-items .chat-user-list .chat-user-item .chat-user-name span {
  font-size: 16px;
}

/** end of chat box **/
/** side bar **/
.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: var(--themecolor);
}

.sidebar-heading {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.sidebar-image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.sidebar-title h2 {
  font-size: 24px;
  color: #fafafa;
}

.nav-list:hover, .nav-list.active {
  background: var(--sidebarhover);
}

.nav-item-wrapper {
  display: flex;
  line-height: 50px;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 0px 20px;
}
.nav-item-wrapper .nav-icon svg {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--white);
}
.nav-item-wrapper .nav-title {
  display: block;
  width: 100%;
}
.nav-item-wrapper .nav-title a, .nav-item-wrapper .nav-title span {
  font-size: 16px;
  color: var(--white);
  cursor: pointer;
  display: block;
  width: 100%;
}
.nav-item-wrapper .drop-down-btn-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.nav-item-wrapper .drop-down-btn-wrapper svg {
  color: var(--white);
  font-size: 18px;
  transition: 0.8s;
}
.nav-item-wrapper .drop-down-btn-wrapper.active svg {
  transform: rotate(180deg);
}
.nav-item-wrapper .dropdown-wrapper {
  transition: 0.8s;
  padding-left: 30px;
}

.dropdown-wrapper ul {
  padding-left: 16px;
}

/** end of side bar  **/
.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}
.table-wrapper table thead {
  background: var(--themecolor);
  height: 45px;
}
.table-wrapper table thead tr th {
  font-size: 14px;
  color: var(--white);
  font-weight: 600;
  text-align: left;
  padding: 0px 7px;
}
.table-wrapper table tbody tr:nth-child(even) {
  background: #f5f5f5;
}
.table-wrapper table tbody tr td {
  min-height: 60px;
  padding: 20px 7px;
  font-size: 13px;
  font-weight: 400;
}
.table-wrapper .table-search-wrapper {
  margin-bottom: 20px;
}
.table-wrapper .table-search-wrapper form {
  position: relative;
  width: 250px;
}
.table-wrapper .table-search-wrapper form input {
  width: 100%;
  height: 40px;
  outline: none;
  border-radius: 30px;
  border: 1px solid #ccc;
  text-indent: 7px;
}
.table-wrapper .table-search-wrapper form input::-moz-placeholder {
  font-size: 14px;
}
.table-wrapper .table-search-wrapper form input::placeholder {
  font-size: 14px;
}
.table-wrapper .table-search-wrapper form button {
  position: absolute;
  right: 4px;
  height: 40px;
  background: 0;
  border: 0px;
  font-size: 21px;
  top: 3px;
  color: #ddd;
}

.table-action-wrapper {
  display: flex;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.table-action-wrapper .table-edit-btn {
  font-size: 16px;
}
.table-action-wrapper .table-delete-btn {
  background: none;
  font-size: 16px;
  color: red;
  border: 0px;
}

.skeleton-wrapper {
  display: flex;
  flex-flow: row wrap;
  row-gap: 10px;
  margin: 20px 0px;
}
.skeleton-wrapper .skeleton--line {
  height: 10px;
  width: 100%;
}
.skeleton-wrapper .loader {
  background: #f6f7f8;
  background-repeat: repeat;
  background-image: none;
  background-size: auto;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderSkeleton;
  -webkit-animation-timing-function: linear;
  background-image: -webkit-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  position: relative;
}

@-webkit-keyframes placeholderSkeleton {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.role-permissions-wrapper {
  max-width: 300px;
}
.role-permissions-wrapper ul {
  display: flex;
  row-gap: 5px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  flex-flow: row wrap;
}
.role-permissions-wrapper ul li {
  background: var(--themecolor);
  color: var(--white);
  padding: 3px 5px;
  text-align: center;
  border-radius: 4px;
  white-space: nowrap;
}

.permission-denied {
  padding: 40px;
  justify-content: center;
  display: flex;
}
.permission-denied h1 {
  font-size: 32px;
  color: red;
}

/** header **/
.top-header-wrapper {
  background: var(--white);
  height: 50px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0px 30px;
}

.top-right-side {
  margin-left: auto;
}

.top-right-side .logout-btn {
  background: none;
  border: 0px;
}

.logout-btn {
  background: none;
  border: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

/** end of header **/
/** page heading **/
.page-heading-wrapper {
  display: flex;
  border-bottom: 1px solid #f5f5f5;
  align-items: center;
  height: 50px;
  padding: 0px 20px;
}

.page-heading-wrapper .page-title-wrapper h1 {
  font-size: 21px;
  color: var(--sidebarhover);
}

.action-wrapper {
  margin-left: auto;
}

/** end of page heading **/
/** dashboard body **/
.main-content-wrapper {
  width: calc(100% - 300px);
  margin-left: 300px;
}

.content-box {
  background: var(--white);
  margin: 0px 30px;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  min-height: 80vh;
}

.content-box-wrapper {
  padding: 30px 20px;
}

/** not found **/
.not-data-found {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
}
.not-data-found h1 {
  font-size: 21px;
  color: #ddd;
}

/** end of not found **/
.error-log {
  color: red;
}

.success-log {
  color: green;
}

/** tooltips **/
.tooltip-wrapper {
  position: relative;
  transistion: 0.5s;
}
.tooltip-wrapper .tooltip-hover {
  position: absolute;
  background: #f5f5f5;
  padding: 5px 5px;
  z-index: 99;
  font-size: 12px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

/** end of tooltips **/
