.form-wrapper{
	&.form{
		display: flex;
		row-gap:15px;
		flex-flow:row wrap;
		.form-group{
		display:flex;
		align-item:center;
		column-gap:15px;
		width:80%;
		.form-label{
			width:175px;
			display: flex;
			align-items:center;
			height:40px;
			label{
				font-size:16px;
				font-weight:500;
			}
		}
		.form-input{
			width:calc(100% - 165px);
			input{
				width:100%;
				height:40px;
				border-radius: 4px;
				text-indent: 7px;
				border:1px solid #ccc;
				outline: none;
				font-size:14px;
				padding:0px;
				&::placeholder{
					font-size:14px;
					color:#ccc;
				}
				&.invalid{
					border:1px solid red;
				}
			}
			&.form-action{
				button{
					border-radius: 4px;
					width: 100%;
					height:45px;
				}
			}
		}
	}
	}
	.form-flex{
		display: flex;
		flex-flow:row wrap;
		row-gap:15px;
		.form-group{
			width: 100%;
			.form-label{
				margin-bottom:10px;
				label{
					font-size:14px;
					color:var(--black);
				}
			}
			.form-input{
				.form-input-control{
					height: 38px;
					border:1px solid #ccc;
					border-radius: 4px;
				}
				input{
					width:100%;
					text-indent: 7px;
					outline: none;
					&.invalid{
						border:1px solid red;
					}
				}
			}
		}
	}

}
.check-box-wrapper{
	display: flex;
	align-items:center;
	column-gap:15px;
	.check-input{

	}
	.check-label{
		label{
			font-size: 14px;
			font-weight:400;
		}
	}
}
/** form permission list **/
.permission-list-wrapper{
	display: flex;
	row-gap:15px;
	justify-content:space-between;
	column-gap:15px;
	flex-flow:row wrap;
	.permission-item-wrapper{
		 width:calc(100% / 2 - 15px);
		 overflow: hidden;
		.permission-module-title {
			background: var(--themecolor);
			text-align: center;
			h3{
				font-size:16px;
				color:var(--white);
				padding:7px 0px;
			}
		}
		.permission-item-body {
			background: var(--bodyBg);
			padding: 15px 10px;
			height:100%;
			.permission-module-check-lists{
				line-height: 30px;
				.check-list-name{
					font-size:14px;
					font-weight: 400;
				}
			}
		}
	}
}

/**end of form permission list **/
/** custom select option **/
.validation-error-wrapper{
	span {
		font-size: 14px;
		color: red;
		text-transform: capitalize;
		margin-top: 4px;
		display: block;
	}
}
.selection-wrapper{
	position:relative;
	.selected-items-wrapper{
		.selected-items{
			width: 100%;
			height: 40px;
			border-radius: 4px;
			text-indent: 7px;
			border: 1px solid #ccc;
			outline: none;
			font-size: 14px;
			padding: 0px;
			.select-placeholder{
				display:flex;
				align-items: center;
				height:100%;
				span{
					color:#ddd;
				}
				.selected-values {
					display: flex;
					row-gap: 5px;
					column-gap: 5px;
					padding: 0px 7px;
					width: 100%;
    				flex-flow: row wrap;
					.select-value{
						background: var(--themecolor);
						padding: 3px 4px;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 2px;
						span{
							font-size:12px;
							color:var(--white);
							display: flex;
						}
						.remove-select{
							font-size: 14px;
							color:var(--white);
						    cursor: pointer;
						}
					}
				}
			}
		}
	}
	.selected-options{
		background: #fff;
    	box-shadow: 0px 0px 5px -2px rgb(0 0 0 / 40%);
		display:none;
		&.active{
			display: block;
		}
		.select-option-search{
			padding: 5px 8px;
			input{
				height:30px;
				outline: none;
			}
		}
		.option-wrapper{
			max-height: 190px;
			overflow-y: auto;
			.option-item{
				font-size: 14px;
				input{
					display:none;
				}
				input:checked + label{
					background:#ddd !important;
				}
				label{
					display:block;
					line-height: 40px;
					padding: 0px 20px;
					&:hover{
						background:#ddd;
					}
				}
				
			}
		}
	}
}

//responsive
